DATABASE_URL="postgresql://pastagansa:pastagansa@localhost:5432/pastagansa?schema=public"
PORT=3000
JWT_ISSUER="pastagansa"
JWT_AUDIENCE="pastagansa-api"
JWT_SECRET="replace-with-a-minimum-32-character-development-secret"
